body {
  font-family: 'VT323', monospace;
  font-size: 20px;
  cursor: url(https://unpkg.com/nes.css/assets/cursor.png),auto;
}

/* Top status bar */
#statusBar {
  position: fixed;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  top:0;
  width:100%;
}

.status {
  font-size: 20px;
  margin: 0px auto;
  padding: 20px;
  background: black;
  color: white;
  font-family: 'Press Start 2P', monospace;
  box-shadow: inset -4px -4px yellow;
  border: 4px solid red;
  text-shadow: 4px 4px 0px green;
}

/*
#scoreArea {
  width: 10%;
}

#timerArea {
  width: 10%;
}

#purposeArea {
  text-align: center;
}
*/

/* Game Output area */
#gameArea { 
  background-size: cover;
  width:100vw;
  height:100vh;
  /*background-image: url(https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i1dsrniQcTQc/v0/1400x-1.jpg);
  */

  background-image: url(https://media.giphy.com/media/3oz8xxsp7ryA3iXpvO/giphy.gif);
  display: flex;
  align-items: center;
  justify-content: center;
}

#monitor {
  margin: 0px auto;
  border: 20px solid #C0B7A6;
  border-radius: 2px;
  width: 560px;
  height: 440px;
  color: black;
}

#output {
  border: 30px solid #40433C;
  padding: 20px;
  background: #40433C;
  background-image: url(monitor.png);
  background-size:cover;
  color: #80FF80;
  overflow: auto;
  height:340px;
}

/* POPUP */
#popup {
  z-index: 100;
  position: fixed;
  top:30%;
  left: 50%;
  margin-left: -225px;
  margin-top: -100px;
  border: 10px solid red;
  box-shadow: 10px 10px green;
  background: black;
  text-shadow: 2px 0px 0px yellow;
  color: red;
  padding: 40px;
  font-size: 30px;
  width: 350px;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
}

button {
  position: relative;

  padding: 10px 20px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png),pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  font-size: 30px;
  font-family: 'VT323', monospace;
  color: #fff;
  background-color: #e76e55;
  box-shadow: inset -4px -4px #8c2022;
}
button:hover {
  background-color: #ce372b;
  box-shadow: inset -6px -6px #8c2022;
}
button:active {
  box-shadow: inset 4px 4px #8c2022;
}
#start {
  width: 130px;
}
#next {
  width: auto;
}

#getHacking {
  position: fixed;
  width: 400px;
  top: 49vh;
  left: 50%;
  margin-left: -200px;
  font-size: 40px;
  border: 3px double red;
  color: white;
  background-color: rgba(0,0,0,0.7);
  animation-name: outerFlash;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes outerFlash {
  from {
    border-color: red;
  }
  to {
    border-color: black;
  }
}

#getHackingInner {
  border: 3px double yellow;
  color: yellow;
  text-align: center;
  padding: 20px;
  text-shadow: 4px 4px 0px red;
  animation-name: innerFlash;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes innerFlash {
  from {
    border-color: green;
  }
  to {
    border-color: yellow;
  }
}